<!DOCTYPE html>
<html lang="fi">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Koneurakointi Niittylä Oy on perheyritys Kanta-Hämeestä, joka keskittyy koneurakointi-, infra- ja kuljetustöihin.">
    <meta name="keywords" content="Koneurakointi Niittylä, Niittylä, maarakennus, maanrakennus, koneurakointi, sähköverkkorakennus, kuljetukset, Kanta-Häme, Forssa, Tammela">
    <meta name="author" content="Joonas Maanonen">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">

        <link rel="preload" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap"></noscript>
    </head>
    <body>
    <title>{% block title %}{% endblock %}Koneurakointi Niittylä</title>
    <header class="header">
        <div class="header__inner">
            <h1 class="header__title">
                Koneurakointi Niittylä
            </h1>
            <a id="menu" class="header__menu">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M2 6h20v3H2zm0 5h20v3H2zm0 5h20v3H2z"/>
              </svg>
            </a>
       </div>
    </header>
    <nav id="upper_nav" class="nav">
        <ul class="nav__list">
            {% if page == 'etusivu' %}
            <li class="nav__item active"><a href="/">Etusivu</a></li>
            {% else %}
            <li class="nav__item"><a href="/">Etusivu</a></li>
            {% endif %}

            {% if page == 'palvelut' %}
            <li class="nav__item active"><a href="palvelut">Palvelut</a></li>
            {% else %}
            <li class="nav__item"><a href="palvelut">Palvelut</a></li>
            {% endif %}

            {% if page == 'referenssit' %}
            <li class="nav__item active"><a href="referenssit">Referenssit</a></li>
            {% else %}
            <li class="nav__item"><a href="referenssit">Referenssit</a></li>
            {% endif %}

            {% if page == 'yhteystiedot' %}
            <li class="nav__item active"><a href="yhteystiedot">Yhteystiedot</a></li>
            {% else %}
            <li class="nav__item"><a href="yhteystiedot">Yhteystiedot</a></li>
            {% endif %}
        </ul>
   </nav>
    <main>
        {% block content %}
        {% endblock %}
        <section id="yhteystiedot" class="yhteystieto-footer">
            <div class="yhteystieto-teksti">
              <div>
                <h4> KONEURAKOINTI NIITTYLÄ OY</h4>
              </div>
              <div>
                <p>
                  <div>Sepänkuja 3, 31300 Tammela</div>
                </p>
              </div>
              <p>
              <div class='footer_div'>Janne Niittylä</div>
              <div class='footer_div'>&phone; 050 304 0174</div>
              <div class="footer_div">&#9993; janne.niittyla (a) gmail.com
              </div>
              <div class='footer_div2'>Heikki Niittylä</div>
              <div class='footer_div'>&phone; 050 080 1110</div>
              <div class="footer_div">&#9993; heikki.niittyla1 (a) gmail.com</div>
            {% if page == 'yhteystiedot' %}
                <div class='footer_div2'>Y-tunnus: 2811083-4</div>
                <div class='footer_div2'>Verkkolaskuosoite: 003728110834, Ropo Capital</div>
            {% endif %}
              </p>
            </div>
            <div class="referenssi-kuvat">
                <div class="referenssi-kuva">
                  <a href="https://zeckit.com/selvitys/FI/2811083-4?section=quickcheck" rel="noopener" target="_blank"><img src="https://kampanja.vastuugroup.fi/hubfs/Luotettava-Kumppani-logo_verkkosivuille-1.jpg" alt="Luotettava kumppani pätevyys logo" class="etusivu-logo"></a>
                </div>

                <div class="referenssi-kuva">
                  <a href="https://www.koneyrittajat.fi/"><img src="https://www.koneyrittajat.fi/media/Julkinen/Kuvat/logot/koneyrittajat_v2_vari350(1).jpg" alt="Koneyrittäjä liiton logo" class="etusivu-logo"></a>
                </div>

                <div class="referenssi-kuva">
                  <a href="https://www.skal.fi/fi/julkinen-sivusto"><img src="https://www.skal.fi/sites/all/themes/skal/images/skal-logo.png" alt="Suomen kuljetus ja logistiikka alan liiton logo (SKAL)" class="etusivu-logo"></a>
                </div>
            </div>
        </section>
        <footer>
          <p>&copy; 2020 Koneurakointi Niittylä Oy</p>
        </footer>
    </main>
    <script async>
      /* Open the drawer when the menu icon is clicked*/
      var menu = document.querySelector('#menu');
      var main = document.querySelector('main');
      var drawer = document.querySelector('.nav');

      menu.addEventListener('click', function(e) {
        drawer.classList.toggle('open');
        e.stopPropagation();
      });
      main.addEventListener('click', function() {
        drawer.classList.remove('open');
      });

    </script>
    </body>
</html>
