{% extends "base.html" %}
{% block title %}Palvelut - {% endblock %}</h1>
{% block content %}
<section class="palvelut">
    <ul class="palvelut">
        <li class="palvelu">
            <div class="palvelu__kuvaus">
                <h3 class="palvelu__otsikko">Sähköverkkorakennus</h3>
                <p class="palvelu__teksti">
                    Olemme erikoistuneet maakaapelitöihin. Meillä on monipuolinen kalusto, vastuullinen
                    henkilöstö ja vuosien kokemus alalta. Tiedämme alan vaihtelevat haasteet ja erityispiirteet.
                </p>
                <p class="palvelu__teksti">
                    Panostamme työn laatuun sekä vaatimusten mukaiseen ja siistiin lopputulokseen.
                </p>
            </div>
            <div class="palvelu__kuva">
                <img src="{{ url_for('static', filename='images/kuitukaapeli_1_comp.jpg')}}" alt="Mies tekemässä kaapelointityötä">
            </div>
        </li>
        <li class="palvelu">
            <div class="palvelu__kuvaus">
                <h3 class="palvelu__otsikko">Maarakennus</h3>
                <p class="palvelu__teksti">
                    Suoritamme kunnallistekniikan rakennusta sekä pohjarakentamista.
                    Asiakkainamme ovat olleet kunnat, vesiyhtiöt sekä yksityiset asukkaat.
                    Meillä on laaja yhteistökumppaniverkko, jota hyödynnämme tarpeen vaatiessa.
                </p>
                <p class="palvelu__teksti">
                    Meille ei ole olemassa liian pientä tai liian suurta urakkaa.
                </p>
            </div>
            <div class="palvelu__kuva">
                <img src="{{ url_for('static', filename='images/kaivinkoneet_tienvarressa_1_comp.jpg')}}" alt="Kaksi miestä ja kaivinkone tekemässä maanrakennustöitä">
            </div>
        </li>
        <li class="palvelu">
            <div class="palvelu__kuvaus">
                <h3 class="palvelu__otsikko">Kuljetukset</h3>
                <p class="palvelu__teksti">
                    Teemme kuljetuksia monipuolisesti ja joustavasti. Hoidamme muun muassa
                    työkoneiden ja laitteiden siirtoja, viljarahteja sekä maa- ja kiviaineskuljetuksia
                    Etelä-Suomen alueella.
                </p>
                <p class="palvelu__teksti">
                    Saat meiltä suuret ja pienet kuljetukset haluamaasi aikaan ja paikkaan.
                </p>
            </div>
            <div class="palvelu__kuva">
                <img src="{{ url_for('static', filename='images/rekka_viininpunainen_1_comp.jpg')}}" alt="Mies tekemässä kaapelointityötä">
            </div>
        </li>
    </ul>
</section>
{% endblock %}
