{% extends "base.html" %}
{% block title %}Referenssit - {% endblock %}</h1>
{% block content %}
<section class="referenssit">
  <div class="referenssi_tekstit">
    <div class="referenssi">
        <h3>Tammelan kunta</h3>
        <h4>2020-2021</h4>
        <ul>
          <li>Porras-Liesjärvi siirtoviemärin ja vesijohdon rakentaminen.</li>
          <li>Kunnan kaavoittaman asuinalueen kunnallistekniikan rakentaminen.</li>
        </ul>
        <br/>
        
      </div>
    <div class="referenssi">
        <h3>Jokioisten kunta</h3>
        <h4>2020</h4>
        <ul>
          <li>Leirikeskuksen piharakentaminen.</li>
          <li>Vesijohto- ja viemärijärjestelmien rakentaminen.</li>
        </ul>
        <br/>
        
      </div>
      <div class="referenssi">        
        <h3>Elenia Säävarma</h3>
        <h4>2019</h4>
        <h5>Hyrsy-Kylmäkoski, Akaa</h5>
        <ul>
          <li>Maakaapelointi 26 km, puistomuuntamot 10 kpl</li>
          <li>Elenia kuitu-mikroputkitus</li>
        </ul>
        <br/>

        <h5 >Tyrisevä-Ketunpesät, Akaa</h5>
        <ul>
          <li>Maakaapelointi 42 km, puistomuuntamot 20 kpl</li>
          <li>Elenia kuitu-mikroputkitus</li>
        </ul>
       
        <br/>
        <h4>2018</h4>
        <h5>Kinnala-Yllitty, Hattula</h5>
        <ul>
          <li>Maakaapelointi 2 km, puistomuuntamot 4 kpl</li>
        </ul>
        <br/>
        <h5>Siniänmäki - Korkeemäki, Akaa</h5>
        <ul>
          <li>Maakaapelointi 17 km, puistomuuntamot 9 kpl</li>
        </ul>
        <br/>
        <h5>Hölimäentie - Poutala, Akaa</h5>
        <ul>
          <li>Maakaapelointi 10 km, puistomuuntamot 7 kpl</li>
        </ul>
        <br/>
        <h4>2017</h4>
        <h5>Kankaanmaa-Lastenlinna, Pälkäne</h5>
        <ul>
          <li>Maakaapelointi 25 km, puistomuuntamot 12 kpl</li>
          <li>Pälkäneen valokuidun mikroputkitus</li>
        </ul>
        <br/>
        <h5>Juhala-Ourajoki, Loppi</h5>
        <ul>
          <li>Maakaapelointi 35 km, puistomuuntamot 12 kpl</li>
        </ul>
      </div>
      <div class="referenssi">
        <h3>Elenia & Caruna</h3>
        <h4>2011-2019</h4>
        <ul>
          <li>Sähköverkon saneeraus ja liittymärakentaminen Etelä-Suomen alueella.</li>
        </ul>
        <br/>
        
      </div>
    </div>
  <div class="referenssi_kuvat">
        <div class="refesivu-kuva">
            <img src="{{ url_for('static', filename='images/tammela-logo-pieni.jpg')}}" alt="Tammelan kunnan logo">
        </div>
        <div class="refesivu-kuva">
            <img src="{{ url_for('static', filename='images/jokioinen-logo-pieni.png')}}" alt="Jokioisten kunnan logo">
        </div>
        <div class="refesivu-kuva">
            <img src="https://www.elenia.fi/sites/www.elenia.fi/themes/elenia_fi_2_0/logo.png" alt="Elenia logo">
        </div>
        <div class="refesivu-kuva">
            <img src="{{ url_for('static', filename='images/caruna-logo.png')}}" alt="Caruna logo">
        </div>
    </div>
</section>
{% endblock %}
