<!DOCTYPE html>
<html lang="fi">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Koneurakointi Niittylä tarjoaa koneurakointi palveluita Kanta-hämeen alueella">
    <meta name="keywords" content="Koneurakointi,Kuljetukset,Kaapelointi,Niittylä,Kanta-Häme,Forssa,Tammela">
    <meta name="author" content="Joonas Maanonen">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
    </head>
    <body>
    <title>{% block title %}{% endblock %} - Koneurakointi Niittylä</title>
    <header class="header">
        <div class="header__inner">
        <!-- <img class="header__logo" src="{{ url_for('static', filename='images/Logo1.png')}}" alt="Koneurakointi Niittylä OY logo" > --->
            <h1 class="header__title">
                Koneurakointi Niittylä
            </h1>
            <a id="menu" class="header__menu">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M2 6h20v3H2zm0 5h20v3H2zm0 5h20v3H2z"/>
              </svg>
            </a>
       </div>
    </header>
    <nav id="upper_nav" class="nav">
        <ul class="nav__list">
            {% if page == 'etusivu' %}
            <li class="nav__item active"><a href="/">Etusivu</a></li>
            {% else %}
            <li class="nav__item"><a href="/">Etusivu</a></li>
            {% endif %}

            {% if page == 'palvelut' %}
            <li class="nav__item active"><a href="palvelut">Palvelut</a></li>
            {% else %}
            <li class="nav__item"><a href="palvelut">Palvelut</a></li>
            {% endif %}

            {% if page == 'yritys' %}
            <li class="nav__item active"><a href="yritys">Yritys</a></li>
            {% else %}
            <li class="nav__item"><a href="yritys">Yritys</a></li>
            {% endif %}

            {% if page == 'yhteystiedot' %}
            <li class="nav__item active"><a href="yhteystiedot">Yhteystiedot</a></li>
            {% else %}
            <li class="nav__item"><a href="yhteystiedot">Yhteystiedot</a></li>
            {% endif %}
        </ul>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    </body>
</html>
