<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Koneurakointi Niittylä tarjoaa koneurakointi palveluita Kanta-hämeen alueella">
    <meta name="keywords" content="Koneurakointi,Niittylä,Kanta-Häme,Forssa,Tammela">
    <meta name="author" content="Joonas Maanonen">
        <!-- Load an icon library to show a hamburger menu (bars) on small screens -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Own custom CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <!-- Javascript -->
        <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    </head>
    <title>{% block title %}{% endblock %} - Koneurakointi Niittylä</title>
    <header>
        <nav class="topnav" id="myTopnav">
            <a href="/" {% if page == 'etusivu' %} class="active"{% endif %}>Etusivu</a>
            <a href="palvelut" {% if page == 'palvelut' %} class="active"{% endif %}>Palvelut</a>
            <a href="tietoa_meista" {% if page == 'tietoa_meista' %} class="active" {% endif%}>Tietoa Meistä</a>
            <a href="yhteystiedot" {% if page == 'yhteystiedot'%} class="active" {% endif%}>Yhteystiedot</a>
            <a href="javascript:void(0);" class="icon" onclick="shrinkNavbar()">
                <i class="fa fa-bars"></i>
            </a>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    </html>
