{% extends "base.html" %}

{% block header %}
<h1>{% block title %}Etusivu{% endblock %}</h1>
{% endblock %}

{% block content %}
<section id="esittely">
    <img id="etusivu_banderolli" src="{{ url_for('static', filename='images/rekka_viininpunainen_1.jpg')}}" alt="Firman kaivinkone työmaalla">
    <p id="esittely_teksti">Koneurakointi Niittylä on sähköverkkorakentamisen ammattilainen.
        Meiltä löytyy osaamista ja kalustoa haastaviinkin kohteisiin, kuten vedenalaisiin kaapelointeihin, sekä kuljetuksiin.
    </p>
</section>
{% endblock %}
