{% extends "base.html" %}
{% block content %}
<div class="hero__kuva">
    <div class="hero__otsikko">
        <h2>Kokemuksella ja ammattitaidolla.</h2>
    </div>
</div>
<section id="esittely">
    <p id="esittely_teksti">
        Koneurakointi Niittylä Oy on tammelalainen perheyritys Kanta-hämeestä, joka
        keskittyy koneurakointi-, infra- ja kuljetustöihin monipuolisella ja
        nykyaikaisella kalustolla.
    </p>
    <p id="palvelut_linkki">
        Lue lisää palveluistamme <a href="palvelut">täältä</a>
    </p>
</section>
{% endblock %}
