{% extends "base.html" %}
{% block title %}Referenssit - {% endblock %}</h1>
{% block content %}
<section class="referenssit">
    <div class="referenssi">
        <div class="refesivu-kuva">
            <img src="https://www.elenia.fi/sites/www.elenia.fi/themes/elenia_fi_2_0/logo.png" class="referenssi-kuva">
        </div>
        <div class="refesivu-teksti">
            <p>REFETEKSTI</p>
        </div>
    </div>
    <div class="referenssi">
        <div class="refesivu-kuva">
        <img src="https://www.caruna.fi/bundles/carunafrontend/images/caruna-logo.svg" class="referenssi-kuva">
        </div>
        <div class="refesivu-teksti">
            <p>REFETEKSTI</p>
        </div>
    </div>
</section>
{% endblock %}
