{% extends "base.html" %}

{% block header %}
<h1>{% block title %}Yritys{% endblock %}</h1>
{% endblock %}

{% block content %}
<section id="yritys">
    <img src="{{ url_for('static', filename='images/rekka_valkoinen_1.jpg')}}">
    <p id="yritys">
        Koneurakointi Niittylä Oy on perheyritys Tammelasta.
        Yritys aloitti toimintansa jo 25 vuotta sitten ja on vuosien mittaan laajentanut toimintaansa infrarakentamisesta verkostourakointiin.
        Tällä hetkellä yritys työllistää 6 työntekijää sekä aliurakoitsijoita tarpeen mukaan.
    </p>
</section>

{% endblock %}
